* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 100px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    position: sticky;
    top: 0;
}

#logo {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

#logo:hover {
    background-color: yellow;
    color: red;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 35px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

.banner {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    background: #59c173;
    background: linear-gradient( to bottom right, #5d26c1, #a17fe0, #59c173);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100vh;
}

#sec1 {
    display: flex;
    justify-content: space-between;
}

#sec1 .circles {
    width: 250px;
    height: 250px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
    text-shadow: 2px 2px 3px red;
}

#sec2 {
    display: flex;
    justify-content: space-between;
}

#sec2 main {
    width: 50%;
    height: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

aside {
    width: 48%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

aside .art {
    width: 100%;
    height: 150px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

#sec3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#sec3 .box {
    width: 20%;
    height: 300px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: 1s;
}

#sec3 .box:hover {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 10px gray;
    background-color: #59c173;
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 100px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.fa-cloud-download {
    color: #2498db;
    font-size: 50px;
    position: fixed;
    top: 300px;
    right: 20px;
}